**/.DS_Store
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.idea
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/*.md
**/*.profraw
**/charts
**/cobertura.*
**/CODEOWNERS
**/docker-compose*
**/compose*
**/Dockerfile*
**/LICENSE
**/node_modules
**/npm-debug.log
**/secrets.dev.yaml
**/tarpaulin-report.*
**/values.dev.yaml
/bin
/justfile
/rustfmt.toml
/target
/target-tarpaulin
/tarpaulin.toml
