name: Release

on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  build-release-files:
    name: Build release files for ${{ matrix.arch }}-${{ matrix.platform }}
    # Don't build on forks
    if: github.repository_owner == 'clechasseur'
    strategy:
      fail-fast: false
      matrix:
        arch: [ aarch64, x86_64 ]
        platform: [ unknown-linux-gnu, unknown-linux-musl, unknown-freebsd, apple-darwin, pc-windows-msvc ]
        include:
          - arch: universal
            platform: apple-darwin
          - os: ubuntu-24.04
          - platform: apple-darwin
            os: macos-14
          - platform: pc-windows-msvc
            os: windows-2022
          - crt-static: false
          - link-self-contained: false
          - platform: pc-windows-msvc
            crt-static: true
          - platform: unknown-linux-musl
            crt-static: true
            link-self-contained: true
        exclude:
          - arch: aarch64
            platform: unknown-freebsd
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          toolchain: stable
          cache: false

      - name: Setup cross-compilation tools
        uses: taiki-e/setup-cross-toolchain-action@de3cf2a24ac5d2934a75983953853818cd5dff77 # v1.34.0
        with:
          target: ${{ matrix.arch }}-${{ matrix.platform }}

      - name: Set flag to link crt-static
        run: echo "RUSTFLAGS=${RUSTFLAGS} -C target-feature=+crt-static" >> ${GITHUB_ENV}
        if: ${{ matrix.crt-static }}

      - name: Set flag to link self-contained
        run: echo "RUSTFLAGS=${RUSTFLAGS} -C link-self-contained=yes" >> ${GITHUB_ENV}
        if: ${{ matrix.link-self-contained }}

      - name: Build binaries and upload to GitHub release
        uses: taiki-e/upload-rust-binary-action@3962470d6e7f1993108411bc3f75a135ec67fc8c # v1.27.0
        with:
          bin: cargo-msrv-prep,cargo-msrv-unprep
          token: ${{ secrets.GITHUB_TOKEN }}
          archive: cargo-msrv-prep-$target-$tag
          target: ${{ matrix.arch }}-${{ matrix.platform }}
          include: LICENSE,README.md
          leading-dir: true
